.cart {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-items: start;
    padding: 5px;
    border-radius: 10px;
}

.table {
    width: 100%;
    font-size: 0.7rem;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.heading {
    background-color: azure;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 0;
    border-radius: 10px 10px 0 0;
}

.tbody {
    width: 100%;
    height: 500px;
    border-radius: 0 0 10px 10px;
    overflow-y: scroll;
}

.cartItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cartImage {
    width: 60px;
    height: 60px;
}

.btnRemove {
    appearance: none;
    border: none;
    color: darkred;
}

.btnInscrease {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    padding: 2px;
    border: solid 1px rgb(200, 200, 200);
    margin: 0 2px;
    cursor: pointer;
}

.btnCheckOut {
    background-color: #f50;
    width: 100%;
    padding: 0.2rem 0;
    margin-bottom: 0.2rem;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

}